<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicEase"
        tools:targetApi="31">
        <activity
            android:name=".EditPatientHealthActivity"
            android:exported="false" />
        <activity
            android:name=".PatientDetailsActivity"
            android:exported="false" /> <!-- Firebase messaging service (commented out if not implemented) -->
        <!--
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->
        <!-- Meta-data for Firebase configuration -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- Activities in your app -->
        <activity
            android:name=".SearchPatientActivity"
            android:exported="true" />
        <activity
            android:name=".NurseSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".NurseHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".CheckInActivity"
            android:exported="true" />
        <activity
            android:name=".NurseHomeActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".BookAppointmentActivity"
            android:exported="true" />

        <activity
            android:name=".AdminHomepageActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorHomepageActivity"
            android:exported="true" />
        <activity
            android:name=".NurseHomepageActivity"
            android:exported="true" />
        <activity
            android:name=".PatientHomepageActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
    </application>

</manifest>